@use "variables";

.footer {
  min-width: 1296px;
  padding: 40px 120px 40px 140px;
  background-color: variables.$gold;

  &__upper {
    display: flex;
    justify-content: space-between;
  }

  .custom-logo {
    max-width: 320px;
    height: auto;
    filter: brightness(200%);
  }

  &__linkList {
    display: flex;
    margin: 0;

    &.-sp {
      display: none;
    }
  }

  &__linkItem {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-left: 72px;
    }
  }

  &__link {
    font-family: "Cormorant Garamond", serif;
    font-size: 17px;
    color: variables.$white;
    letter-spacing: 2px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__linkChildItem {
    margin-top: 6px;

    .footer__link {
      font-size: 13px;
    }
  }

  &__linkChild {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
      "Yu Mincho", "MS PMincho", serif;
    font-size: 13px;
    color: variables.$white;
    letter-spacing: 1px;
  }

  &__copyright {
    font-size: 15px;
    color: variables.$white;
    letter-spacing: 2px;
  }
}

@include variables.mq(variables.$mobile) {
  .footer {
    min-width: auto;
    padding: 48px 40px 24px;

    &__upper {
      flex-direction: column;
    }

    .custom-logo {
      width: 100%;
    }

    &__link {
      font-size: 13px;

      &:not(:first-child) {
        margin-top: 0;
      }
    }

    &__linkList {
      &.-pc {
        display: none;
      }

      &.-sp {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin: 16px 0 40px;
      }
    }

    &__linkItem {
      &:not(:first-child) {
        margin-left: 0;
      }
    }

    .footer__link {
      margin-top: 16px;
      font-size: 16px;
    }

    &__linkItemLeft {
      display: flex;
      flex-direction: column;
    }

    &__linkChild {
      font-size: 14px;
    }

    &__linkChildItem {
      margin-top: 16px;
    }

    &__copyright {
      display: block;
      font-size: 12px;
      text-align: center;
    }
  }
}
