@use "variables";

.home {
  &__mainVisualWrapper {
    position: relative;
  }

  &__mainVisual {
    &.-back {
      img {
        width: 100%;
        max-height: 780px;
      }
    }

    &.-front {
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__intro {
    position: relative;
    margin: 160px auto 0;
  }

  &__introMain {
    display: flex;
    align-items: flex-start;

    img {
      width: 100%;
      box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);
    }
  }

  &__introPicture {
    width: 45%;
  }

  &__introMainText {
    margin-left: 5.5%;

    .c-button {
      margin: 24px 0 0;
    }
  }

  &__introHeading {
    margin: 8px 0 5.55vw;
    margin-bottom: clamp(80px, 5.55vw, 96px);
    font-size: 50px;
    font-weight: 500;
    color: variables.$gray;
    letter-spacing: 8px;
  }

  &__introParagraph {
    margin-top: 4.44vw 0 0;
    margin-top: clamp(40px, 4.44vw, 64px);
    font-size: 17px;
    line-height: 2.7;
    color: variables.$gray;
  }

  &__introDecoration {
    position: absolute;
    top: 66%;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__introDecorationText {
    position: absolute;
    top: 50%;
    right: 38%;
    img {
      max-width: 518px;
    }
  }

  &__introDecorationImage {
    box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);

    &.-upper {
      position: absolute;
      top: 0;
      right: 5%;
    }

    &.-lower {
      position: absolute;
      top: 188px;
      right: 14%;
    }
  }

  &__service {
    padding-top: 63px;

    .l-singleCol {
      margin-top: 17px;

      .home__serviceContents {
        padding: 0 32px;
      }
    }

    .sectionHeading {
      margin-bottom: 32px;
    }
  }

  #service {
    padding-top: 63px;
    margin-top: 314px;
  }

  &__serviceContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
  }

  &__serviceText {
    color: variables.$gray;
  }

  &__serviceCaption {
    display: block;
    font-size: 17px;
    letter-spacing: 2px;
  }

  &__serviceHeading {
    margin: 8px 0 0;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;

    &.-en {
      letter-spacing: 2px;
    }
  }

  &__serviceIcons {
    display: flex;
    align-items: center;
    width: 44px;
    min-width: 44px;
    margin-left: 12px;
  }

  &__serviceBlock {
    position: relative;

    &.l-singleCol {
      .home__serviceIcons {
        position: absolute;
        right: 24px;
        bottom: 24px;
      }
    }
  }

  #profile,
  #selfy,
  #column {
    padding-top: 63px;
    margin-top: -63px;
  }

  #academy {
    padding-top: 63px;
  }

  &__voice {
    padding: 56px 0 100px;
    margin: 132px 0 0;
    background-image: url(assets/images/home/voice_bg.jpg);
    background-size: cover;
  }

  &__voiceList {
    display: flex;
    justify-content: space-between;
    width: variables.$content-width-xl;
    margin: 72px auto 0;
  }

  &__voiceItem {
    position: relative;
    width: 350px;

    &::before {
      position: absolute;
      top: -52px;
      left: 20px;
      content: "";
      background-size: cover;
    }

    &:first-child::before {
      width: 128px;
      height: 74px;
      background-image: url(assets/images/home/voice_01_text.png);
    }

    &:nth-child(2)::before {
      width: 143px;
      height: 75px;
      background-image: url(assets/images/home/voice_02_text.png);
    }

    &:nth-child(3)::before {
      width: 147px;
      height: 75px;
      background-image: url(assets/images/home/voice_03_text.png);
    }

    img {
      box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);
    }
  }

  &__voiceParagraph {
    margin: 8px 0 0;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
      YuGothic, sans-serif;
    font-size: 15px;
  }

  &__voiceButton {
    margin-top: 56px;
    text-align: center;

    .c-button {
      background-color: variables.$white;
    }
  }

  &__sectionImage {
    img {
      width: 100%;
    }
  }

  &__column {
    margin: 126px 0 0;

    .sectionHeading {
      margin-bottom: 32px;
    }
  }

  &__columnWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 72px;
    width: 1296px;
    padding: 0 48px;
    margin: 0 auto;

    article {
      margin-bottom: 72px;
    }
  }

  &__columnItem {
    .wp-post-image {
      width: 352px;
      height: 251px;
      box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);
      object-fit: cover;
    }
  }

  &__columnContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__columnCategory {
    padding: 2px 8px;
    font-size: 13px;
    color: variables.$gold;
    letter-spacing: 1px;
    background-color: variables.$pink;
  }

  &__columnMeta {
    margin: 12px auto 0;
  }

  &__columnPostTime {
    display: inline-block;
    margin-left: 6px;
    font-size: 13px;
    color: variables.$gold;
    letter-spacing: 1px;
  }

  &__columnTitle {
    margin: 8px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: variables.$gray;
  }

  &__banners {
    display: flex;
    max-width: variables.$content-width-sm;
    margin: 80px auto 150px;
  }

  &__bannerLink {
    &:not(:first-of-type) {
      margin-left: 40px;
    }
  }
}

@include variables.mq(variables.$mobile) {
  .home {
    &__mainVisualWrapper {
      height: 162vw;
    }

    &__mainVisual {
      &.-back {
        img {
          height: 100%;
          max-height: none;
          object-fit: cover;
          object-position: right;
        }
      }

      &.-upper {
        position: absolute;
        top: 0;
        left: 0;
        width: 62%;
      }

      &.-center {
        position: absolute;
        top: 96vw;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
      }

      &.-lower {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 68%;

        img {
          vertical-align: bottom;
        }
      }
    }

    &__intro {
      margin: 80px auto 0;
    }

    &__introMain {
      flex-direction: column;

      img {
        box-shadow: none;
      }
    }

    &__introPicture {
      width: 100%;

      img {
        width: 80%;
      }
    }

    &__introHeading {
      margin: 16px auto 0;
      font-size: 26px;
      letter-spacing: 4px;
    }

    &__introParagraph {
      margin-top: 40px;
      font-size: 15px;
      line-height: 1.92;
    }

    &__introMainText {
      position: relative;
      width: 100%;
      padding-left: 24px;
      margin-left: 0;

      .c-button {
        margin: 8px 0 0;
      }
    }

    &__introDecorationImage {
      &.-lower {
        position: absolute;
        top: auto;
        right: 0;
        bottom: -80%;
        width: 92%;
      }
    }

    #service {
      margin-top: -106px;
    }

    &__service {
      margin-top: 332px;

      .sectionHeading {
        margin-bottom: 24px;
      }

      .l-singleCol {
        margin-top: -24px;

        .home__serviceContents {
          padding: 0 12px;
        }

        .home__serviceIcons {
          right: 11px;
          bottom: auto;
        }
      }
    }

    &__serviceText {
      padding: 12px 0 14px;
    }

    #selfy {
      margin-top: -26px;
    }

    &__serviceBlock {
      flex-direction: column;
      width: 94%;
      margin: 0 auto;
    }

    &__serviceContents {
      padding: 0 12px;
    }

    &__serviceCaption {
      margin-top: 6px;
      font-size: 13px;
      letter-spacing: 1px;
    }

    &__serviceHeading {
      margin: 4px 0 0;
      font-size: 14px;
      letter-spacing: 0;
    }

    &__serviceIcons {
      width: 24px;
      min-width: 24px;
    }

    &__voice {
      padding: 48px 0 72px;
      margin: 80px auto 0;
    }

    &__voiceList {
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }

    &__voiceItem {
      width: 68%;
      margin: 56px auto 0;

      &::before {
        top: -44px;
      }

      &:first-child::before {
        width: 108px;
        height: 62px;
      }

      &:nth-child(2)::before {
        width: 116px;
        height: 62px;
      }

      &:nth-child(3)::before {
        width: 116px;
        height: 59px;
      }

      &:not(:first-child) {
        margin-top: 80px;
      }
    }

    &__voiceParagraph {
      font-size: 14px;
    }

    &__voiceButton {
      margin-top: 48px;
    }

    &__column {
      margin: 64px 0 0;
    }

    &__columnWrapper {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      grid-column-gap: 40px;
      width: 92%;
      padding: 0;

      article {
        margin-bottom: 24px;
      }
    }

    &__columnItem {
      .wp-post-image {
        width: 100%;
        height: 32.54vw;
      }
    }

    &__columnContents {
      align-items: flex-end;
    }

    &__columnMeta {
      margin: 4px auto 0;
    }

    &__columnCategory {
      padding: 0 6px;
      font-size: 12px;
    }

    &__columnPostTime {
      margin-left: 0;
      font-size: 12px;
    }

    &__columnTitle {
      display: -webkit-box;
      margin-right: 4px;
      overflow: hidden;
      font-size: 15px;
      line-height: 1.3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &__banners {
      flex-direction: column;
      margin: 32px auto 80px;
    }

    &__bannerLink {
      width: 80%;
      margin: 0 auto;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
