@use "variables";

.l-singleCol {
  max-width: 1296px;
  padding: 0 48px;
  margin: 0 auto;

  &__col {
    a {
      display: flex;
      box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);
    }
  }
}

.l-doubleCol {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1296px;
  padding: 0 48px;
  margin: 0 auto;

  &__col {
    &:not(:first-child) {
      margin-left: 64px;
    }

    a {
      display: block;
      height: 100%;
      box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 0.3);
    }
  }
}

@include variables.mq(variables.$tablet) {
  .l-singleCol {
    &__col {
      a {
        flex-direction: column;
      }
    }
  }

  .l-doubleCol {
    &__col {
      &:not(:first-child) {
        margin-left: auto;
      }
    }
  }
}

@include variables.mq(variables.$mobile) {
  .l-singleCol,
  .l-doubleCol {
    width: 100%;
  }

  .l-singleCol {
    padding: 0;

    &__col {
      a {
        flex-direction: column;
      }
    }
  }

  .l-doubleCol {
    padding: 0;

    &__col {
      &:not(:first-child) {
        margin: 48px auto 0;
      }
    }
  }
}
