@use "variables";

.l-singleCol {
  width: variables.$content-width-xl;
  margin: 0 auto;

  &__col {
    display: flex;
  }
}

.l-doubleCol {
  display: flex;
  justify-content: center;
  width: variables.$content-width-xl;
  margin: 0 auto;

  &__col {
    &:not(:first-child) {
      margin-left: 64px;
    }
  }
}

@include variables.mq(variables.$mobile) {
  .l-singleCol,
  .l-doubleCol {
    width: 100%;
  }

  .l-singleCol {
    &__col {
      flex-direction: column;
    }
  }

  .l-doubleCol {
    &__col {
      &:not(:first-child) {
        margin: 56px auto 0;
      }
    }
  }
}
